@import url('https://fonts.cdnfonts.com/css/nasalization-2');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.cdnfonts.com/css/anurati');


body {
  background: #f2f2ea;
  color: #202020;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #202020;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
 }

.list-group-item-warning {
  color: #f4f3f9;
  background-color: transparent;
}

.col-md-4 {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
}

btn btn-light btn-sm {
  display: flex;
  justify-content: space-evenly;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #ffc107 !important ;
}

.site-header .navbar-nav .nav-link {
  color: #202020;
}

.site-header .navbar-nav .nav-link:hover {
  color: #202020;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-dark .navbar-brand {
  color: #202020;
  font-family: "Anurati", sans-serif;
  animation: nav-brand 1s linear 0s 1 normal forwards;
 }

@keyframes nav-brand {
  0% {
    opacity: 0;
    transform: rotateY(-70deg);
    transform-origin: left;
  }

  100% {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: left;
  }
}

.content-section {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-title {
  color: #202020;
}

a.article-title:hover {
  color: #202020;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.admin-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  color: #ffc107;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.footer {
 display: flex;
 justify-content: space-evenly;

}

.jumbotron {
  background-color: transparent;
}